#root {
  background-color: pink;
} 

#main-container {
  background-color: cyan;
}

#editor {
  resize: none;
  height: 100vh;
  padding-top: 15px;
  border: 0;
}
#preview {
  height: 100vh;
  padding-top: 15px;
  border-left: 1px black solid;
  background-color: white;
}

#button-bar {
  border-bottom: 1px black solid;
  background-color: #808080;
  text-align: right;
}

#button-bar button {
  color: white;
  display: inline;
}

@media(max-width: 991px) {
  #preview {
   border-left: 0;
  }
}
